<html>
<head>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<title>WeatherApp</title>
<body>
	{{>header}}
	<p>this is about page</p>
	{{>footer}}

</body>
</html>