<html>
<head>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<title>WeatherApp</title>
<body>
     <div class="main-content">
         {{>header}}
             {{helpText}}
   
     </div>

     {{>footer}}
</body>
</html>